<div class="container mt-4">

  <h3 class="mb-3">Task List</h3>

  <table class="table table-bordered">

    <thead class="table-light">
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th class="text-end">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let task of tasks">

        <td>{{ task.title }}</td>

        <td>{{ task.status }}</td>

        <td class="text-end">
          <a [routerLink]="['/tasks', task.id]" 
             class="btn btn-primary btn-sm me-2">
            View
          </a>

          <button (click)="deleteTask(task.id)" 
                  class="btn btn-danger btn-sm">
            Delete
          </button>
        </td>

      </tr>

      
      <tr *ngIf="tasks.length === 0">
        <td colspan="3" class="text-center">
          No tasks available
        </td>
      </tr>

    </tbody>

  </table>

</div>